:root {
  --color-brend: #819b57;
  --color-brend-dark: #465929;
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
}

body {
  color: var(--color-primary-dark);
}

.button {
  background-color: var(--color-brend);
  border: 2px solid var(--color-brend);
  border-radius: 8px;
}

.button:hover {
  color: var(--color-brend-dark);
  background-color: transparent;
}

.link {
  color: var(--color-primary-light);
}

.link:hover {
  color: var(--color-brend);
}

h1 {
  color: var(--color-primary-light);
}

h1,
h2 > * {
  color: var(--color-brend);
}

#traditions-section li {
  background-color: var(--color-brend);
  color: var(--color-primary-light);
}

#traditions-section span {
  color: var(--color-brend);
}
